<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM Automation">

	<listeners>
    	<listener class-name="framework.listener.TestListener"/>
  	</listeners>
  
	<test thread-count = "1" name = "Test Namer" parallel = "methods" enabled = "true">
		<classes>
			<class name="script.CreateUserTest">
			</class>
		</classes>	
	</test> 
	
</suite>
